<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald|Noto+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>

    <body>
        {% block nav %}
        <div class="container-fluid main-menu">
            <div class="brand">Chat</div>
            {% if not user.is_authenticated %}
                <li><a href="/login/">Login</a></li>
                <li><a href="/register/">Register</a></li>
            {% endif %}
        </div>
        {% endblock nav %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}">
                        {{ message }}
                    </div>                        
                {% endfor %}                                    
            </div>
        {% endif %}

        <div class="container-fluid container-wrapper">
            {% block container %}{% endblock container %}
        </div>

        {% block scripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/js/react.min.js"></script>
            <script type="text/javascript" src="/static/js/react-dom.min.js"></script>
            <script type="text/javascript" src="/static/js/main.js"></script>
            <script type="text/javascript" src="/static/js/app.js"></script>
        {% endblock scripts %}
        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </body>
</html>